:root {
   --navbar-height: 75px;
}

@media (min-width: 992px) {
   :root {
      --navbar-height: 92px;
   }
}

html,
body {
   font-size: small;
}

@media (min-width: 576px) {

   html,
   body {
      font-size: 1em;
   }
}

body {
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
   padding-top: var(--navbar-height);
}

body>main {
   flex-grow: 1;
}

.navbar {
   height: var(--navbar-height);
}

.navbar-brand img {
   width: 160px;
   height: 31.75px;
}

@media (min-width: 992px) {
   .navbar-brand img {
      width: 192px;
      height: 38.1px;
   }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
   --bs-gutter-x: 3rem;
}

@media (min-width: 576px) {

   .container,
   .container-lg,
   .container-md,
   .container-sm,
   .container-xl,
   .container-xxl {
      width: 95%;
      max-width: 1320px;
   }
}

a {
   color: currentColor;
}

*>.vr:last-child,
*>.vr:last-of-type {
   display: none;
}

.ins {
   text-decoration: none;
   opacity: .75;
   transition: .3s;
}

.ins:hover,
.ins:focus {
   text-decoration: underline;
   opacity: 1;
}

@media (min-width: 992px) {
   footer address {
      width: 14.5em;
   }
}

*::placeholder {
   color: currentColor !important;
}

.fs-reset {
   font-size: 1em;
}

.text-3-line {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}

.top-unset {
   top: unset;
}

.inset-0 {
   inset: 0;
}

.gradient-top-top {
   background-image: linear-gradient(to top, var(--bs-body-bg), transparent);
}