:root {
   --navbar-height: 75px;
}

[data-bs-theme=light] {
   --bs-body-bg: #f1f1f1;
   --bs-body-bg-rgb: 241, 241, 241;
   --bs-secondary-bg: #e9e9e9;
   --bs-secondary-bg-rgb: 233, 233, 233;
   --bs-dark: #1a1a1a;
   --bs-dark-rgb: 26, 26, 26;
   --bs-secondary: #333333;
   --bs-secondary-rgb: 51, 51, 51;
   --bs-primary: #01645b;
   --bs-primary-rgb: 1, 100, 91;
   --bs-light-bg-subtle: #ffffff;
   --bs-light-bg-subtle-rgb: 255, 255, 255;
}

[data-bs-theme=dark] {
   --bs-body-bg: #262626;
   --bs-body-bg-rgb: 38, 38, 38;
   --bs-secondary-bg: #1a1a1a;
   --bs-secondary-bg-rgb: 26, 26, 26;
   --bs-dark: #1a1a1a;
   --bs-dark-rgb: 26, 26, 26;
   --bs-secondary: #333333;
   --bs-secondary-rgb: 51, 51, 51;
   --bs-primary: #01645b;
   --bs-primary-rgb: 1, 100, 91;
   --bs-light-bg-subtle: #333333;
   --bs-light-bg-subtle-rgb: 51, 51, 51;
}

@media (min-width: 992px) {
   :root {
      --navbar-height: 92px;
   }
}

html,
body {
   font-size: small;
}

@media (min-width: 576px) {

   html,
   body {
      font-size: 1em;
   }
}

body {
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
   padding-top: var(--navbar-height);
}

body>main {
   flex-grow: 1;
}

.navbar {
   height: var(--navbar-height);
}

.navbar-brand img {
   width: 160px;
   height: 31.75px;
}

@media (min-width: 992px) {
   .navbar-brand img {
      width: 192px;
      height: 38.1px;
   }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
   --bs-gutter-x: 3rem;
}

@media (min-width: 576px) {

   .container,
   .container-lg,
   .container-md,
   .container-sm,
   .container-xl,
   .container-xxl {
      width: 95%;
      max-width: 1320px;
   }
}

a {
   color: currentColor;
}

*>.vr:last-child,
*>.vr:last-of-type {
   display: none;
}

.ins {
   text-decoration: none;
   opacity: .75;
   transition: .3s;
}

.ins:hover,
.ins:focus,
.ins.active {
   text-decoration: underline;
   opacity: 1;
}

a.active {
   font-family: 'HelveticaNeue Bold';
}

@media (min-width: 992px) {
   footer address {
      width: 14.5em;
   }
}

*::placeholder {
   color: currentColor !important;
}

.fs-reset {
   font-size: 1em;
}

.text-3-line {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}

.top-unset {
   top: unset;
}

.inset-0 {
   inset: 0;
}

.gradient-top-top {
   background-image: linear-gradient(to top, var(--bs-body-bg), transparent);
}

.btn-invert {
   border: solid 1px rgba(var(--bs-body-color-rgb), .5);
   color: rgba(var(--bs-body-color-rgb), 1);
   background-color: transparent;
}

.btn-invert:hover,
.btn-invert:focus,
.btn-invert.active {
   border: solid 1px rgba(var(--bs-body-bg-rgb), 1);
   color: rgba(var(--bs-body-bg-rgb), 1);
   background-color: rgba(var(--bs-body-color-rgb), 1);
}

.btn-primary {
   --bs-btn-color: #fff;
   --bs-btn-bg: var(--bs-primary);
   --bs-btn-border-color: var(--bs-primary);
   --bs-btn-hover-color: #fff;
   --bs-btn-hover-bg: #025750;
   --bs-btn-hover-border-color: #01645b;
   --bs-btn-focus-shadow-rgb: 49, 132, 253;
   --bs-btn-active-color: #fff;
   --bs-btn-active-bg: #01645b;
   --bs-btn-active-border-color: #01645b;
   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   --bs-btn-disabled-color: #fff;
   --bs-btn-disabled-bg: var(--bs-primary);
   --bs-btn-disabled-border-color: var(--bs-primary);
}

.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--bs-link-color);
  --bs-pagination-bg: var(--bs-body-bg);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--bs-border-color);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: var(--bs-primary);
  --bs-pagination-active-border-color: var(--bs-primary);
  list-style: none;
}